<?xml version="1.0"?>
<!--
/**
 * @author DiZed Team
 * @copyright Copyright (c) DiZed (https://github.com/di-zed/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin for the main account management plugin. -->
    <type name="DiZed\FrontAcl\Plugin\Customer\Api\AccountManagement">
        <plugin name="DiZed_FrontAclSample::AccountManagement" type="DiZed\FrontAclSample\Plugin\Customer\Api\AccountManagement" />
    </type>
</config>
